div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    /* border-radius: 50%; */
    position: absolute;
    top: 100px;
    left: 100px;

    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-timing-function: ease-in;
    transition-delay: 1s; */

    /* Transition shorthand */
    /* transition: all 2s ease-in 1s; */
    /* transform: rotate(180deg); */
    /* rotate: x 180deg; */

    /* transition: all 2s ease-in; */

    /* animation-name: colorAnimate;
    animation-duration: 3s; */
    /* animation-timing-function: ease-in; */
    /* animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    /* animaion shorthand */
    animation: colorAnimate 2s ease-in 0s infinite normal;
}
/* @keyframes colorAnimate{
    from{ background-color: aquamarine;}
    to {background-color: red;}
} */

/* @keyframes colorAnimate{
    from 
    { 
        left: 0px;
        background-color: yellow;
    }
    to 
    {
        left: 200px;
        background-color: red;
    }
} */

@keyframes colorAnimate{
    0%
    { 
        left: 0px;
        background-color: yellow;
    }
    50%
    {
        background-color: blue;
    }
    100%
    {
        left: 200px;
        background-color: red;
    }
}

div:hover{
    /* background-color: red;
    color: white;
    font-size: 20px; */
    /* transform: scale(2);
    transform: rotate(180deg); */

    /* transform: translatex(200px); */
    /* transform: translatey(-200px); */
    /* transform: translate(200px , 200px); */
    /* transform: skew(45deg); */
}

/* div:active{
    background-color: pink;
} */