*{
    padding: 0;
    margin: 0;
    color: white;
}

/* div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */

#navbar{
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}

#logo{
    background-color: #f08804;
    font-size: 25px;
}

a{
    margin-right: 200px;
    text-decoration: none;
}

.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#content{
    height: 700px;
}

footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}