div{
    height: 100px;
    width: 100px;
    background-color: pink;
    /* border-width: 5px;
    border-style: double;
    border-color: brown; */
    border: 5px double brown;
    /* SHORTHAND */
    text-align: right;
    border-radius: 10px;
}
h1{
    width: 200px;
    height: 50px;
    background-color: aqua;
    /* border-width: 3px;
    border-style: dashed;
    border-color: black; */
    border: 3px dashed black;
    /* SHORTHAND */
    text-align: center;
    /* AAB HEADING AAPNE BOX KE CENTER ME GYI     ACCORDING TO THE SPACE GIVEN */
    border-radius: 50%;
}