div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 5px solid brown;
    /* border-radius: 15px; */
    
    /* padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px; */
    padding: 1px 2px 3px 4px;
    /* PADDING SHORTHAND */
    
    /* margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px; */
    margin: 10px 20px 30px 40px;
    /* MARGIN SHORTHAND */
}