#box1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 10px;
}
#box2{
    /* height: 50px; */
    height: 50vh;
    /* browser ki window ki jitni height hai uska 50 percent cover kr rhi hai screen ka. Same can be applied for width also */

    width: 30%;
    background-color: yellow;
    margin-left: 10%;
    font-size: 2em;
    /* 2 times of parent font size  */
    /* width: 5em;
    width me aab ye fontsize apne element ki dekh kr krega 2em ka 5 times ho jaega   */

    width: 5rem;
}