div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
body{
    background-image: url("cat_photo.jpg");
    background-size: cover;
    /* background-image: contain; */
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
}
#box1{
    background-image: url("cat_photo.jpg");
    background-size: cover;
    /* background-image: contain; */
    /* background-size: auto; */
}